<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>twig beginner</title>

    <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">

</head>
<body>
    <h1 class="title">Titre de ma page</h1>

    <article class="article">
        <header>
            <img class="article_img" src="https://www.lapiscine.pro/wp-content/uploads/2017/05/LaPiscine_2017_BDX.jpg" alt="la piscine bordeaux">
            <h1 class="article_title">Article</h1>
        </header>
        <div class="article_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at, distinctio dolor dolore doloremque facilis fugit impedit molestiae nihil nisi nobis optio quas quis repellendus sequi sint sit veritatis voluptatum!</p>
        </div>
    </article>

    <article class="article">
        <header>
            <img class="article_img" src="https://www.lapiscine.pro/wp-content/uploads/2017/05/LaPiscine_2017_BDX.jpg" alt="la piscine bordeaux">
            <h1 class="article_title">Article</h1>
        </header>
        <div class="article_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at, distinctio dolor dolore doloremque facilis fugit impedit molestiae nihil nisi nobis optio quas quis repellendus sequi sint sit veritatis voluptatum!</p>
        </div>
    </article>

    <article class="article">
        <header>
            <img class="article_img" src="https://www.lapiscine.pro/wp-content/uploads/2017/05/LaPiscine_2017_BDX.jpg" alt="la piscine bordeaux">
            <h1 class="article_title">Article</h1>
        </header>
        <div class="article_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at, distinctio dolor dolore doloremque facilis fugit impedit molestiae nihil nisi nobis optio quas quis repellendus sequi sint sit veritatis voluptatum!</p>
        </div>
    </article>

    <article class="article">
        <header>
            <img class="article_img" src="https://www.lapiscine.pro/wp-content/uploads/2017/05/LaPiscine_2017_BDX.jpg" alt="la piscine bordeaux">
            <h1 class="article_title">Article</h1>
        </header>
        <div class="article_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at, distinctio dolor dolore doloremque facilis fugit impedit molestiae nihil nisi nobis optio quas quis repellendus sequi sint sit veritatis voluptatum!</p>
        </div>
    </article>

    <article class="article">
        <header>
            <img class="article_img" src="https://www.lapiscine.pro/wp-content/uploads/2017/05/LaPiscine_2017_BDX.jpg" alt="la piscine bordeaux">
            <h1 class="article_title">Article</h1>
        </header>
        <div class="article_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at, distinctio dolor dolore doloremque facilis fugit impedit molestiae nihil nisi nobis optio quas quis repellendus sequi sint sit veritatis voluptatum!</p>
        </div>
    </article>

    <article class="article">
        <header>
            <img class="article_img" src="https://www.lapiscine.pro/wp-content/uploads/2017/05/LaPiscine_2017_BDX.jpg" alt="la piscine bordeaux">
            <h1 class="article_title">Article</h1>
        </header>
        <div class="article_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at, distinctio dolor dolore doloremque facilis fugit impedit molestiae nihil nisi nobis optio quas quis repellendus sequi sint sit veritatis voluptatum!</p>
        </div>
    </article>

</body>
</html>